* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
/* The first two classes are setting defaults for different parts of the page*/
.header {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: flex-start;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* This first header class I added a flex box style and justification. After adding it for the header I realized it wasn't really in the scope of the assignment. This code does lay the ground work for future optimization so it can be displayed properly on different screen sizes*/
.header h1 {
    justify-content: start;
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}
/* The header H1 classes just align the text properly and enable the different coloring of seo in Horiseon's Name */
.navigation {
    padding-top: 15px;
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: flex-end;
    column-gap: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* The navigation class solves 2 problems. It eliminates the need for using an unordered list and it also sets the header divs to use flex scaling. So they will naturally adjust their spacing to fit the width of the screen while still matching the websites original styling*/
@media screen and (max-width:768px) {
    .navigation {
        justify-content: flex-start;
        row-gap: 10px;
    } 
}
/* This is not really in the scope of the assignment but I already coded it before I realized that. This is a media querry that will adjust how the navigation class is displayed if the screen width of the device is smaller then 769 pixels. It needs some more smoothing out but this allows the header portion to shift to a stacked ordering on smaller screen sizes*/
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
/* Setting the desired text look*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* Creates the dimensions for the background image div*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/* These two classes create an overall page standard for what float left and float right should look like*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

 .benefitDetails {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefitDetails h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefitDetails img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* The preceding classes merge several repetative classes that the original site used into a set of generic classes that apply specific formating to each benefit section. The h3 and img selectors apply extra or modified formatting to specific sections of the .benefitDetails class*/
.companyFocus {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.companyFocus img {
    max-height: 200px;
}

.companyFocus h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* This is the other major rewrite. Rather then having individual classes for each focus area for the company, I have unified it into the .companyFocus class because they were all using the same formatting. Again the img and h2 selectors modify or add to the original .companyFocus class to avoid having to redefine already define styles*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
